.main {
    text-align: center;
    font-family: 'montserrat';
}

.botao {
   
    display: block;
    margin: auto;
    margin-top: 20px;
    height: 40px;
    width: 100px;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}